# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/token.json
backend/.env
backend/youtube_client.json
backend/generate-youtube-token.js
backend/package-lock.json
backend/package.json
src/.env
src/youtube_client.json
src/generate-youtube-token.js
src/package-lock.json
src/package.json
